<!-- <html>
    <head>
        <title>The Missions</title>
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" style="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
        <link rel="stylesheet" style="text/css" href="/stylesheets/app.css">
        <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.semanticui.min.css">
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.semanticui.min.js" type="text/javascript"></script>


    </head>
    <body> -->

<% include partials/header %>

<div class="page-header">
  <h1>ORDERS (ADMIN)</h1>
</div>

<!-- <script type="text/javascript" src="/path/to/jquery-latest.js"></script>  -->


<script type="text/javascript">
    $(document).ready(function() {
        $('#missiontable').DataTable({
            // show:  50,
            // paging: false;
        });
    } );
</script>    

<div class="ui main main-padding">
    
    <div class="ui huge centered header">The deal is done.</div>


<table id="missiontable" class="ui sortable single line table">
    <thead>
        <th>#</th>
        <th>Order ID</th>
        <th>Date</th>
        
        <th>Customer Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Postcode</th>
        <th>Line_ID</th>
        <th>Category</th>
        <th>Food Name</th>
        <th>Variations</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total</th>
        <th>Customer Note</th>
        <th>Total (Order)</th>
        <th>Total Items</th>
        <th>Total Unique Products</th>
    </thead>
    <tbody>
    <%var loopcount = 0;%>

    <% orders.forEach(function(order){%>
        <% order.products.forEach(function(prod){%>
            <%  
            var start = new Date();start.setHours(0,0,0,0); var end = new Date(); end.setHours(23,59,59,999); 
            var ord_d = new Date(); ord_d.setTime(order.order_date); 
            ord_d.setTime(ord_d.getTime() + (8*60*60*1000));

            if( ord_d >= start && ord_d < end){
            %>
                <tr style="background:rgb(207, 237, 184)">
            <% }else{ %>
                <tr>
            <% } %>
                <% loopcount = loopcount +1;%>
                <td><%= loopcount %></td>
                <td><%= (order.order_number)%></td>
                <td><%= moment(order.order_date).format('YYYY/MM/DD HH:mm') %></td>

                <td><%= order.billing_full_name %></td>
                <td><%= order.billing_email %></td>
                <td><%= order.billing_phone %></td>
                <td><%= order.billing_address_1 %></td>
                <td><%= order.billing_postcode %></td>

                <td><%= prod.line_id %></td>
                <td><%= prod.category %></td>
                <td><%= prod.name %></td>
                <td><%= prod.product_variation %></td>
                <td><%= prod.qty %></td>
                <td><%= prod.item_price %></td>
                <td><%= prod.qty*prod.item_price %></td>
                
                <td><%= order.customer_note %></td>
                <td><%= order.order_total %></td>
                <td><%= order.count_total_items %></td>
                <td><%= order.count_unique_products %> </td>        
            </tr>    
        <%})%>
    <%})%>
    </tbody>
</table>


    </div>   
</div> 
    
</body>
</html>