<% include ./partials/header %>

<div class="page-header">
  <h1>Orders (ADMIN) </h1>
</div>

<a class="btn btn-info " href="/supplier">All Supplier</a>

<table id="example" class="table table-striped table-hover" data-toggle="table"  data-show-toggle="true">
    <tr>
        <th>Order ID</th>
        <th>Date</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Postcode</th>
        <th>Address</th>
        <th>Food ID</th>
        <th>Supplier</th>
        <th>Food</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total Price</th>
        <th>Remarks</th>
        <th>View Order</th>
    </tr>

    <%
        var all_orders= [];
        orders.forEach(function(orderq){ 
            orderq['order']['line_items'].forEach(function(food2){ 
                
                var food = {};
                food['order_id'] = orderq['order'].id;
                food['date'] = moment(orderq.order.created_at).format('llll');
                food['name'] = orderq['order']['billing_address'].first_name + ", " + orderq['order']['billing_address'].last_name;
                food['email'] = orderq['order']['billing_address'].email ;
                food['phone'] = orderq['order']['billing_address'].phone;
                food['postcode'] = orderq['order']['billing_address'].postcode ;
                food['address'] = orderq['order']['billing_address'].address_1;


                food['food_id'] = food2.product_id ;
    

                function findID(fruit) { 
                    return fruit.product_id == food2.product_id;
                }; 
                function splitt(str){
                    var arr = str.split("|");
                    
                    return(arr.sort(function (a, b) { return b.length - a.length })[arr.length-1]);
                };


                    var cate1 = categories.find(findID) || "";
                    cate1 = String(cate1.category);
                    food['category'] = splitt(cate1);

                function findsupplierID(supp) { 
                    return supp.name == food['category'];
                };      
                    var tempsupp = suppliers.find(findsupplierID) || "";
                    food['supplier_id'] = tempsupp._id; 
                    // food['supplier_id'] = suppliers;

                    food['food_name'] = food2.name;
                    food['food_qty'] = food2.quantity;
                    food['food_price'] = food2.price;
                    food['food_total'] = food2.total;
                    food['order_remarks'] = orderq['order'].note;
                    food['order_url'] = "http://gastronomeal.com/my-account/view-order/" + orderq['order'].id;
                    all_orders.push(food);
            })
        })


    %>

    <% all_orders.sort(function(a,b){return new Date(b.date) - new Date(a.date)}).forEach(function(order){ %>

        <% var inputDate = new Date(order.date); var todaysDate = new Date(); if(inputDate.setHours(0,0,0,0) == todaysDate.setHours(0,0,0,0)) { %>
            <tr class="success">
        <% }else{ %>
            <tr>
        <% } %>
            <td><%= order.order_id %></td>
            <td><%= order.date %></td>
            <td><%= order.name %></td>
            <td><%= order.email %></td>
            <td><%= order.phone %></td>
            <td><%= order.postcode %></td>
            <td><%= order.address %></td>
            <td><%= order.food_id %></td>
            <td><%= order.category %></td>
            <td><%= order.food_name %></td>
            <td><%= order.food_qty %></td>
            <td><%= order.food_price %></td>
            <td><%= order.food_total %></td>
            <td><%= order.order_remarks %></td>
            <td><a href="<%= order.order_url %>">View</a></td>
        </tr>

    <% }) %>
</table>


<% include ./partials/footer %>
